
html {
  color: #14213d;
  font-family: Source Sans Pro;
  font-size: 11pt;
  line-height: 1.6;
}
body {
  margin: 0;
}

h1 {
  color: #000000;
  font-family: Pacifico;
  font-size: 35pt;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
}
th {
  border-bottom: .2mm solid #a9a;
  color: #a9a;
  font-size: 10pt;
  font-weight: 400;
  padding-bottom: .25cm;
}
td {
  padding-top: 5mm;
  font-size: 20pt;
  border-bottom: .2mm solid #a9a;
}
th, td {
  text-align: center;
}
th:first-of-type, td:first-of-type {
  text-align: left;
}
th:last-of-type, td:last-of-type {
  text-align: right;
  font-size: 10pt;
  word-break: break-all;
  word-wrap: break-word;
}

@page {
   @bottom-right {
    content: counter(page) " of " counter(pages);
   }
}